@{
    ViewData["Title"] = "Абонементи";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<section class="section" id="abonements">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Абонементи</h2>
                    <img src="images/line-dec.png" alt="">
                    <p>Оберіть підходящий абонемент для ваших потреб</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @if (User.IsInRole("admin"))
                {
                    <p>
                        <a asp-action="Create" class="btn btn-success">Додати абонемент</a>
                    </p>
                }
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Тип</th>
                            <th class="text-center">Період</th>
                            <th class="text-center">Ціна</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ticket in Model)
                        {
                        <tr>
                            <td class="text-center">@ticket.Type</td>
                            <td class="text-center">@ticket.Period</td>
                            <td class="text-center">@ticket.Price</td>
                            @if (User.IsInRole("admin"))
                            {
                            <td>
                                <a asp-action="Edit" asp-controller="Crud" asp-route-id="@ticket.TicketId" class="btn btn-warning">Редагувати</a>
                                <button class="btn btn-danger" onclick="confirmDelete(@ticket.TicketId)" style="margin-right: 10px;">Видалити</button>
                            </td>
                            }
                            else if (User.IsInRole("user"))
                            {  
                            <td>
                                <a asp-action="Buy" asp-controller="Crud" asp-route-id="@ticket.TicketId" class="btn btn-primary">Купити</a>
                            </td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


    <script>
        function confirmDelete(trainerId) {
            window.location.href = "/Crud/Delete/" + trainerId;
        }
    </script>

<style>

   /*  body {
        background-color: #3b3a38;
        margin: 0;
        padding: 0;
        height: 100vh;
    } */

    table {
        width: 100%;
    }

        table th, table td {
            text-align: right;
        }

    td button {
        margin-left: 5px; 
    }
</style>