@{
    ViewData["Title"] = "Тренери";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="section" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>@Localizer["Наші"] <em>@Localizer["тренери"]</em></h2>
                    <img src="images/line-dec.png" alt="">
                    <p>@Localizer["Список наших тренерів"]</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="trainer-item" data-index="0">
                    <div class="image-thumb">
                        <img src="~/images/first-trainer.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>@Localizer["Силовий тренер"]</span>
                        <h4>@Localizer["Григоренко Петро"]</h4>
                        <p>@Localizer["Понад 10 років досвіду, прагне покращити фізичну форму і збільшити силу своїх клієнтів, сприяючи їхньому розвитку та підвищенню впевненості"]</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item" data-index="1">
                    <div class="image-thumb">
                        <img src="~/images/second-trainer.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>@Localizer["Тренер високої інтенсивності"]</span>
                        <h4>@Localizer["Шерстюк Ілля"]</h4>
                        <p>@Localizer["Експерт у вдосконаленні функціональної сили та витривалості. Створює програми, спрямовані на ефективне схуднення та покращення загального стану здоров'я"]</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item" data-index="2">
                    <div class="image-thumb">
                        <img src="~/images/third-trainer.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>@Localizer["Кросфіт тренер"]</span>
                        <h4>@Localizer["Данилів Тимур"]</h4>
                        <p>@Localizer["Впроваджує принципи варіативних та інтенсивних тренувань, спрямованих на розвиток всебічної фізичної підготовки та збільшення м'язової виносливості"]</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="margin-top: 20px;">
                <div class="trainer-item" data-index="3">
                    <div class="image-thumb">
                        <img src="~/images/fourth-trainer.jpg" alt="" style="margin-bottom: 20px;">
                    </div>
                    <div class="down-content">
                        <span>@Localizer["Тренер з йоги"]</span>
                        <h4>@Localizer["Білик Вероніка"]</h4>
                        <p>@Localizer["Експерт у досяганні гармонії між тілом та розумом. Він допомагає клієнтам відкривати власний потенціал, стимулюючи фізичне й емоційне благополуччя"]</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="margin-top: 20px;">
                <div class="trainer-item" data-index="4">
                    <div class="image-thumb">
                        <img src="~/images/fifth-trainer.jpg" alt="" style="margin-bottom: 20px;">
                    </div>
                    <div class="down-content">
                        <span>@Localizer["Тренер з аеробіки"]</span>
                        <h4>@Localizer["Атаманюк Христина"]</h4>
                        <p>@Localizer["Має великий досвід та створює динамічні програми аеробіки, які не лише забезпечують ефективні тренування, але і роблять процес фізичної активності веселим та захопливим"]</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="margin-top: 20px;">
                <div class="trainer-item" data-index="5">
                    <div class="image-thumb">
                        <img src="~/images/sixth-trainer.jpg" alt="" style="margin-bottom: 20px;">
                    </div>
                    <div class="down-content">
                        <span>@Localizer["Персональний тренер"]</span>
                        <h4>@Localizer["Вергун Євген"]</h4>
                        <p>@Localizer["За допомогою індивідуально розроблених програм тренувань та моніторингу вашого прогресу, він створить для вас оптимальний план, враховуючи ваші потреби"]</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </div>
</section>
